h1, p {
	text-align: center;
}

input {
	display: block;
}

#signup {
	position: relative;
	margin: 0 auto;
	margin-top: 5% ;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 400px;
	border-radius: 5px;
	background: rgba(3,3,3,0.15);
	box-shadow: 1px 1px 50px #000;
	text-align: center;
	font-size: 16px;
}

input {
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: rgba(3,3,3,0.5);
  color: white;
  padding: 7px;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}

input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
	background: rgba(3,3,3,.3);
}

#signup_button {
  background: #cb945b;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  width: 180px ;
  margin-top: 10%;
	margin-bottom: 5%;
  border: none;
}

#signup_button:hover {
  background: #de7a13;
  text-decoration: none;
  cursor: pointer;
}

#login {
	color: rgb(125, 195, 230);
  margin-bottom: 5%;
}

#signup_text {
	font-size: 25px;
	margin-bottom: 10%;
}

#signup {
  margin-bottom: 5%;
}
